 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Who is Renan?</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Despite I have a bachelor degree in chemistry, I've always had an <b>inventor's mind</b> (which is constantly
                      <b>excited about solving problems</b>) and I've been studying about UX design for around 8 months.</p>
                </div>
                <div class="col-lg-4">
                    <p>As you may have noticed, this is my <b>conceptual designs</b> portfolio, which is mostly industrial design. If
                      you also want to take a look at my UX design portfolio click below! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://coelhorzd.github.io/renancoelho/" class="btn btn-lg btn-outline">UX portfolio
                    </a>
                </div>
            </div>
        </div>
    </section>
